<div class="col-md-6 col-lg-4 text-center " >
            <img class="search-first-img img-fluid" src="http://image.tmdb.org/t/p/w342/{{ firstMovie.poster_path }}" alt="{{firstMovie.original_title}}">
        </div>
        <div class="col-md-6 col-lg-5 best-match">
          <div class="text-center">
                <h3 class="best-title"><i>{{firstMovie.original_title}} ({{ year }})</i></h3>
                
                <h4>Director(s):</h4> 
                    {{#each directors}}
                        <p class="text-center">{{name}}</p>
                    {{/each}}
                <h4>Producer(s)</h4>
                    {{#each producers}}
                        <p class="text-center">{{name}}</p>
                    {{/each}}
                <br><br>
          </div>


            <blockquote>{{firstMovie.overview}}</blockquote>

            <div class="d-flex flex-row justify-content-center">
                <form action="/movies" method="POST">
                    <input type="hidden"  id="title" name="title" value="{{firstMovie.original_title}}" />
                    <input type="hidden" id="poster_path" name="poster_path" value="{{firstMovie.poster_path}}" />
                    <input type="hidden" id="directors" name="directors" value="{{directors}}" />
                    <button type="submit" class="btn btn-favorites">Add to Favorites</button>
                </form>  
                <a href="/favorites"><button class="btn btn-link">View Favorites</button></a>         

            </div> 
        </div>   
        <div class="col-md-4 offset-md-5 col-lg-3 offset-lg-0 text-left">
             <table>
                {{#each cast}}
                <tr>
                    <td>
                        <img class="img-responsive cast-profile" src="http://image.tmdb.org/t/p/w45{{ profile_path }}" alt="">
                    </td>
                    <td><span>&nbsp;{{name}}</span><br><i>&nbsp;{{character}}</i></td>
                </tr>
                {{/each}}
            </table>
        </div>
