{{> _navbar}}


<div class="page_index">
    <div class="container-fluid mx-auto landing-container">

<!--Search Movies -->
    <div class="container-fluid ">

        {{!-- <h2 class="text-center ">Find a Movie</h2> --}}
        <div class="mx-auto">
            <form method="POST" action="/search/film" autocomplete="off" id="indexSubmit" class="text-center " >
                    <input type="text" class="form-control" placeholder="movie title" name="movieTitle" id="movieTitle"  onfocus="this.placeholder = '' " onblur="this.placeholder = 'Movie Title'"  aria-label="Search Movie Titles" aria-describedby="basic-addon2">
                    <button class="btn btn-primary text-center my-2" aria-label="Medium" type="submit">Find</button>
            </form>
        </div>
    </div>

    </div> <!-- yes it's necessary -->

    <div class="container-fluid browse-container">
        <h2 class="text-center">Popular Now</h2>
        <div class="row">
            {{#each popularNow}}
                {{#if poster_path }}
                    {{> _browseSection}}
                {{/if}}
            {{/each}}
        </div>

        <h2 class="text-center">Top Movies of 2019</h2>
        <div class="row">
            {{#each yearGrossing}}
                {{#if poster_path }}
                    {{> _browseSection}}
                {{/if}}
            {{/each}}
        </div>

        <h2 class="text-center">Top {{genreNameOne}} Movies of {{ yearOne }}</h2>
        <div class="row">
            {{#each randomOne}}
                {{#if poster_path }}
                {{> _browseSection}}
                {{/if}}
            {{/each}}
        </div> 

        <h2 class="text-center">Top {{genreNameTwo}} Movies of {{ yearTwo }}</h2>
        <div class="row">
            {{#each randomTwo}}

                {{#if poster_path }}
                    {{> _browseSection}}
                {{/if}}
            {{/each}}
        </div> 

        <h2 class="text-center">Top {{genreNameThree}} Movies of {{ yearThree }}</h2>
        <div class="row">
            {{#each randomThree}}
                {{#if poster_path }}
                    {{> _browseSection}}
                {{/if}}
            {{/each}}
        </div> 
    </div>


</div>

<a  href="#" role="button"><button class="btn btn-lg back-to-top" id="back-to-top"><i class="fa fa-chevron-up"></i></button></a>
