{{> _navbar}}


<div class="page_index">
    <div class="container-fluid mx-auto landing-container">

<!--Search Movies -->
    <div class="container-fluid ">

        {{!-- <h2 class="text-center ">Find a Movie</h2> --}}
        <div class="mx-auto">
            <form method="POST" action="/search/film" autocomplete="off" id="indexSubmit" class="text-center " >
                    <input type="text" class="form-control" placeholder="movie title" name="movieTitle" id="movieTitle"  onfocus="this.placeholder = '' " onblur="this.placeholder = 'Movie Title'"  aria-label="Search Movie Titles" aria-describedby="basic-addon2">
                    <button class="btn btn-primary text-center my-2" aria-label="Medium" type="submit">Find</button>
            </form>
        </div>

        {{!-- <div class="md-form">
            <input type="text" id="form1" class="form-control">
                <label for="form1">Example label</label>
        </div> --}}
    </div>

    </div>

    <div class="container-fluid browse-container">
        <h2 class="text-center">Popular Now</h2>
        <div class="row">
        {{#each popularNow}}
            {{#if poster_path }}
            <div class=" col-md-4 col-xl-2"> 
                <a href="" data-toggle="modal" data-target="#exampleModal{{original_title}}">
                    <img class="card-img-top my-1"  src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="movie poster">
                </a>
            </div>
            <div class="modal" id="exampleModal{{original_title}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="container">
                    <div class="modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title font-italic">{{original_title}} {{yearOnly release_year 0 4}} </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7 text-white">
                                        <p> {{overview}}</p>
                                            <br><br>   
                                    </div>
                                    <div class="col-md-5 text-white text-center">
                                        <img class="w-100" src="http://image.tmdb.org/t/p/w185/{{ backdrop_path }}" alt="">
                                        
{{!-- 
                                        <form action="/movies" method="POST">
                                            <input type="hidden" id="title" name="title" value="{{title}}" />
                                            <input type="hidden" id="poster_path" name="poster_path" value={{poster_path}} />

                                            <button type="submit" class="btn modal-add btn-navy"  data-dismiss="modal">Add to Favorites</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                            
                                        </form> --}}
                                        <form action="/search/film" method="POST">
                                                <input type="hidden" id="movie_id" name="movie_id" value={{id}} />
                                                <input type="hidden" id="movieTitle" name="movieTitle" value="{{title}}" />
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn  modal-add btn-navy">View Details</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div> 

<h2 class="text-center">Top Movies of 2020</h2>
<div class="row">
    {{#each yearGrossing}}
        {{#if poster_path }}
            <div class=" col-md-4 col-xl-2"> 
                <a href="" data-toggle="modal" data-target="#exampleModal{{title}}">
                    <img class="card-img-top my-1"  src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="movie poster">
                </a>
            </div>
            <div class="modal" id="exampleModal{{original_title}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="container">
                    <div class="modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title font-italic">{{title}} </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7 text-white">
                                        <p> {{overview}}</p>
                                            <br><br>
                                        <p>{{release_date}}</p>

                                    </div>
                                    <div class="col-md-5 text-white text-center">
                                        <img class="w-100" src="http://image.tmdb.org/t/p/w185/{{ backdrop_path }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="/movies" method="POST">
                                    <input type="hidden" id="title" name="title" value={{title}} />
                                    <input type="hidden" id="poster_path" name="poster_path" value={{poster_path}} />
                                    <button type="submit" class="btn modal-add btn-navy"  data-dismiss="modal">Add to Favorites</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
    </div> 

<h2 class="text-center">Best Comedies: 1994</h2>
<div class="row">
    {{#each yearComedy}}
        {{#if poster_path }}
            <div class=" col-md-4 col-xl-2"> 
                <a href="" data-toggle="modal" data-target="#exampleModal{{title}}">
                    <img class="card-img-top my-1"  src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="movie poster">
                </a>
            </div>
            <div class="modal" id="exampleModal{{original_title}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="container">
                    <div class="modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title font-italic">{{title}} </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7 text-white">
                                        <p> {{overview}}</p>
                                            <br><br>
                                        <p>{{release_date}}</p>

                                    </div>
                                    <div class="col-md-5 text-white text-center">
                                        <img class="w-100" src="http://image.tmdb.org/t/p/w185/{{ backdrop_path }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="/movies" method="POST">
                                    <input type="hidden" id="title" name="title" value={{title}} />
                                    <input type="hidden" id="poster_path" name="poster_path" value={{poster_path}} />
                                    <button type="submit" class="btn modal-add btn-navy"  data-dismiss="modal">Add to Favorites</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
    </div> 










    
</div>
  <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button"><i class="fa fa-chevron-up"></i></a>

</div>

