<div class="container-fluid browse-container">
    <h2 class="text-center">Popular Now</h2>
    <div class="row">
    {{#each popularNow}}
        {{#if poster_path }}
            <div class=" col-md-4 col-xl-2"> 
                <a href="" data-toggle="modal" data-target="#exampleModal{{original_title}}">
                    <img class="card-img-top my-1"  src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="movie poster">
                </a>
            </div>
            <div class="modal" id="exampleModal{{original_title}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="container">
                    <div class="modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title font-italic">{{original_title}} </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7 text-white">
                                        <p> {{overview}}</p>
                                            <br><br>
                                        <p>{{release_date}}</p>

                                    </div>
                                    <div class="col-md-5 text-white text-center">
                                        <img class="w-100" src="http://image.tmdb.org/t/p/w185/{{ backdrop_path }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="/movies" method="POST">
                                    <button type="submit" class="btn btn-navy">Add to Favorites</button>
                                    <input type="hidden" id="title" name="title" value={{title}} />
                                    <input type="hidden" id="poster_path" name="poster_path" value={{poster_path}} />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
    </div> 

<h2 class="text-center">Top Grossing: 2020</h2>
<div class="row">
    {{#each yearGrossing}}
        {{#if poster_path }}
            <div class=" col-md-4 col-xl-2"> 
                <a href="" data-toggle="modal" data-target="#exampleModal{{title}}">
                    <img class="card-img-top my-1"  src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" alt="movie poster">
                </a>
            </div>
            <div class="modal" id="exampleModal{{original_title}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="container">
                    <div class="modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title font-italic">{{title}} </h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-7 text-white">
                                        <p> {{overview}}</p>
                                            <br><br>
                                        <p>{{release_date}}</p>

                                    </div>
                                    <div class="col-md-5 text-white text-center">
                                        <img class="w-100" src="http://image.tmdb.org/t/p/w185/{{ backdrop_path }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="/movies" method="POST">
                                    <button type="submit" class="btn btn-navy"  data-dismiss="modal">Add to Favorites</button>
                                    <input type="hidden" id="title" name="title" value={{title}} />
                                    <input type="hidden" id="poster_path" name="poster_path" value={{poster_path}} />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div> 



</div>

